<div class="editpage">
    <form (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="title">Navn:</label><br />
        <input type="text" name="title" [(ngModel)]="title" />
      </div>
      <div class="field">
        <label for="title">Rank:</label><br />
        <input type="text" name="rank" [(ngModel)]="rank" />
      </div>
      <div class="field">
        <label for="content">Tekst:</label><br />
        <ckeditor [editor]="classicEditor" [(ngModel)]="content"></ckeditor>
      </div>
      <button type="submit">Gem</button>
      <div class="editor_message">{{messageStatus}}</div>
    </form>
  </div>
  <button (click)="gotoDashboard()">Dashboard</button>