@import '../../../assets/variables.scss';

:host {
    ::ng-deep {
        .ck-editor {
            min-width: 400px;
            max-width: 100%;
        }
        .ck-editor__editable_inline {
            min-height: 400px;
        }
    }
}

.editpage {
    form {
        .field {
            margin-bottom: 10px;
        }
    }
}