<div class="addpage">
    <form (submit)="addPage(title.value, link.value, content.value, rank.value)">
        <div class="formline">
            <label for="title">{{ 'Name' | i18n }}</label>
            <input type="text" #title />
        </div>
        <div class="formline">
            <label for="link">{{ 'Link' | i18n }}</label>
            <input type="text" #link />
        </div>
        <div class="formline">
            <label for="content">{{ 'Content' | i18n }}</label>
            <input type="text" #content />
        </div>
        <div class="formline">
            <label for="rank">{{ 'Rank' | i18n }}</label>
            <input type="text" #rank />
        </div>
        <button type="submit">{{ 'Add page' | i18n }}</button>
        <button type="button" (click)="closeCreateSection()">{{ 'Cancel' | i18n}}</button>
    </form>
</div>

<!-- <app-modal 
    widthClass="w500"
>
    Modal content
</app-modal> -->