<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SPA routing" stopProcessing="true">
                    <match url="(..)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/index.html" />
                </rule>
                <rule name="Danish">
                    <match url="^$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^da" />
                    </conditions>
                    <action type="Redirect" url="/da/" redirectType="Found" />
                </rule>
                <rule name="English">
                    <match url="^$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^en" />
                    </conditions>
                    <action type="Redirect" url="/en-US/" redirectType="Found" />
                </rule>
                <rule name="Default danish">
                    <match url="^$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^da" negate="true" />
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^en" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/da/" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
