@import '../../assets/variables.scss';

:host {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: $brown-dark;
    color: $brown-creme;

    & a {
        color: $brown-creme;
    }

    & .footer-text {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;
    }

    & .login {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & .login-link {
            display: flex;
            justify-content: flex-end;
            padding: 14px 16px;
        }

        &:hover {
            background-color: #ddd;
            color: black;
            cursor: pointer;
        }
    }
}