:host {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0 15px;

    & a {
        color: var(--color-creme);
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;
        color: var(--font-color-light);
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & .login-link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 14px 16px;
            color: var(--font-color-light);

            i {
                margin-right: 10px;
            }

            &:hover {
                color: var(--font-color-primary);
                cursor: pointer;
            }
        }
    }
}