<div class="footer">
  <div class="footer-text">
    Copyright &#64;{{date | date:'yyyy' }}<br />
    <span *ngIf="developer.url">Design og layout by <a href="{{developer.url}}" target="_blank">{{developer.name}}</a></span>
  </div>
  <div class="login">
    <div class="facebook-link" *ngIf="developer.facebook">
      <a href="{{developer.facebook}}" title="Besøg mig på Facebook" target="_blank">
        <img src="/assets/img/facebook_small.png" alt="Besøg mig på Facebook" />
      </a>
    </div>
    <div 
      class="login-link" 
      *ngIf="!isLoggedIn"
      (click)="gotoLogin()"
    >
      <i class="fa fa-lock"></i>
      {{ 'common.login' | i18n }}
    </div>
    <div 
      class="login-link" 
      *ngIf="isLoggedIn"
      (click)="gotoLogout()"
    >{{ 'common.logout' | i18n }}</div>
</div>
<div id="sb-search" class="sb-search" style="display:none;">
    <form (submit)="onSearch(search.value)" >
        <input class="sb-search-input" placeholder="{{ 'common.search' | i18n }}" type="text" value="" name="search" id="search" #search />
        <input class="sb-search-submit" type="submit" value="" />
        <span class="sb-icon-search" title="Søg" (click)="clearSearch(search)"></span>
    </form>
</div>