:root {
    --font-family: 'Open Sans', sans-serif;
    --font-color-primary: #000;
    --font-color-secondary: #434343;
    --font-color-light: #ced7df;
    --font-size-sm: 12px;
    --font-size-default: 14px;
    --font-size-h1: 22px;
    --font-size-h2: 18px;
    --font-size-h3: 16px;
    --default-padding: 10px;

    --color-dark: transparent;
    --color-middle: transparent;
    --color-light: transparent;
    --color-creme: transparent;

    /* Brand colors - http://brandcolors.net - Buffer */
    --color-black: #323b43;
    --color-gray: #8f979f;
    --color-blue: #168eea;
    --color-red: #ee4f4f;
    --color-white: #fefefe;

    --default-ui-button-padding: var(--default-padding) calc(var(--default-padding) * 2);
    --default-ui-input-padding: var(--default-padding);
    --border-base-color: var(--color-dark);
    --border-radius: 3px;
    --transition-padding: padding 0.3s linear;
    --box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

@mixin defaultTexts {
    font-family: var(--font-family);

    .brand-text-h1 {
        font-size: var(--font-size-h1) !important;
        color: var(--color-middle) !important;

        &:hover {
            text-decoration: none !important;
        }
    }

    .brand-text-h2 {
        font-size: var(--font-size-h2) !important;
        color: var(--color-middle) !important;

        &:hover {
            text-decoration: none !important;
        }
    }
}