@import "../../../node_modules/bootstrap/scss/mixins";

/* Image editor - https://pixlr.com */
/* Brand colors - http://brandcolors.net - Buffer */
$bg-black: '#323b43';
$bg-gray: '#59626a';
$bg-blue: '#168eea';
$bg-red: '#ee4f4f';

@mixin defaultTexts {
    font-family: var(--font-family);

    & .brand-text-h1 {
        font-size: 30px !important;
        color: --var(brown-middle) !important;

        &:hover {
            text-decoration: none !important;
        }
    }

    & .brand-text-h2 {
        font-size: 16px !important;
        color: var(--brown-middle) !important;

        &:hover {
            text-decoration: none !important;
        }
    }
}

@mixin defaultFormInputs {
    form {
        width: 100%;

        & label {
            margin-bottom: 0 !important;
            font-size: 12px;
        }
    
        & input {
            font-size: 16px;
            padding: 5px 10px;
            border: 2px solid #dedede;
            border-radius: 5px;
            outline: none;
            width: calc(100% - 32px);

            &[type="number"] {
                width: 100px;
            }
    
            &:active, &:focus, &:hover {
                border-color: steelblue;
            }
        }
    
        & button {
            margin-top: 10px;
            font-size: 16px;
            padding: 5px 15px;
            min-width: 100px;
            color: #fff;
            background-color: steelblue;
            border: none;
            border-radius: 2px;
    
            &:active, &:focus {
                border: none;
            }
    
            &:active {
                margin-top: 1px;
            }
        }
    }
}