<h1>{{ 'common.pages' | i18n }}</h1>
<div class="addnewpage" (click)="toggleAddNewPage()">
  {{ 'common.page-create' | i18n }}
</div>

<div class="datatable">
  <app-table 
    [(dataRows)]="pageRows" 
    (rowClicked)="rowClicked($any($event))"
    (deleteRowChange)="deleteRow($any($event))"
  ></app-table>
</div>

<app-addpage 
    *ngIf="showAddPageModal"
    [renderModal]="showAddPageModal"
    [currentPageCount]="pageRows.length"
    (closeChange)="closeAddPage($any($event))"
></app-addpage>