@import '../../../assets/variables.scss';

:host {
    ::ng-deep {
        .ck-editor {
            min-width: 400px;
            max-width: 100%;
        }
        .ck-editor__editable_inline {
            min-height: 200px;
        }
    }
}

.addnewpage { 
    width: 150px; 
    padding: 10px; 
    text-align: center; 
    color: #fff; 
    background-color: darkgreen; 
    border: solid 1px #566778; 
    border-radius: 5px; 

    &:hover { cursor: pointer; }
}

.pages_content { 
    width:100%; 
    border: solid 1px #566778; 
    border-radius: 5px; 
    text-align: center;

    &:nth-of-type(n+1) { margin-top: 5px; }
    &:hover { background-color: #566778; color: #fff; cursor: pointer; }
}

.datatable {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    .formline {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        justify-content: space-between;
        padding: 10px;
    }
}