<app-modal
    #editSettingModalContent
    modalTitle="{{ 'common.edit-x' | i18n : { x: 'common.setting' | i18n | lowercase } }}"
    [renderModal]="renderModal"
    (submitChanged)="editSetting($event)"
    (closeChanged)="closeModal($event)"
>
    <form [formGroup]="formSettingEdit">
        <input type="hidden" name="id" formControlName="id" />
        <div class="formline">
            <label for="settingKey">{{ 'common.key' | i18n }}</label>
            <select id="settingKey" formControlName="settingKeyId">
                @for (sk of settingKeys; track sk) {
  <option 
                    
                    [value]="sk.id"
                >{{sk.key}}</option>
}
            </select>
        </div>
        <div class="formline">
            <label for="settingValue">{{ 'common.value' | i18n }}</label>
            <input id="settingValue" type="text" formControlName="value" placeholder="{{ 'input.fill-out-x' | i18n : { x: 'common.value' | i18n | lowercase } }}" />
        </div>
    </form>
</app-modal>

