<div 
    *ngIf="renderModal"
    class="modal-wrapper"
    >
    <div class="modal-backdrop"></div>
    <div 
        class="modal-content-wrapper"
        [ngClass]="{ 'open': renderModal }"
    >
        <div 
            tabindex="1"
            class="modal {{widthClass}}"
        >
            <div
                tabindex="2" 
                class="header">{{modalTitle}}</div>
            <div
                tabindex="3" 
                class="content">
                <ng-content></ng-content>
            </div>
            <div
                tabindex="4" 
                class="footer"
            >
                <button
                    tabindex="5" 
                    (click)="submitModal()"
                >{{ 'common.submit-create' | i18n }}</button>
                <button
                    class="add-spacer"
                    tabindex="6" 
                    (click)="closeModal()"
                >{{ 'common.close' | i18n }}</button>
            </div>
        </div>
    </div>
</div>