<app-modal
  #addSettingModalContent
  modalTitle="{{ 'common.edit-x' | i18n : { x: 'common.page' | i18n | lowercase } }}"
  [renderModal]="renderModal"
  (submitChanged)="editPage($event)"
  (closeChanged)="closeModal($event)"
>
  <form [formGroup]="formPageEdit">
    <input type="hidden" name="id" formControlName="id" [disableControl]="true" />
    <div class="formline">
      <label for="title">{{ 'common.page-type' | i18n }}:</label><br />
      <select name="pagetype" formControlName="pageTypeId">
        <option *ngFor="let pt of pageTypes" [value]="pt.id">{{pt.name}}</option>
      </select>
    </div>
    <div class="formline">
      <label for="title">{{ 'common.name' | i18n }}:</label><br />
      <input type="text" name="title" formControlName="title" />
    </div>
    <div class="formline">
      <label for="pageLink">{{ 'common.link' | i18n }}</label>
      <input id="pageLink" type="text" formControlName="link" placeholder="{{ 'validation.fill-out-x' | i18n : { x: 'common.link' | i18n | lowercase } }}" />
    </div>
    <div class="formline">
        <label *ngIf="page && page.pageTypeId === 46" for="pageContent">{{ 'common.content' | i18n }}</label>
        <ckeditor
          *ngIf="page && page.pageTypeId === 46"
          id="pageContent" 
          [editor]="classicEditor" 
          formControlName="content"
          (ready)="onReady($event)"
        ></ckeditor>
        <app-image-gallery 
          *ngIf="page && page.pageTypeId === 47" 
          [isBackend]="true" 
          [page]="page"
          (createdChange)="createdChange($event)"
        ></app-image-gallery>
    </div>
    <div class="formline">
      <label for="title">{{ 'common.sort' | i18n }}:</label><br />
      <input type="number" name="sort" formControlName="sort" />
    </div>
  </form>
</app-modal>
