<div id="wrapper">
    <header>
        <app-navigation></app-navigation>
    </header>

    <section class="main-layout-container" style="background-image: url({{bg_image_url}});">
        <div class="container">
            <div class="row">
                <div class="full-content-width">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
  
    <footer class="container-fluid">
        <div class="container">
            <app-footer></app-footer>
        </div>
    </footer>

    <a href="#" class="scrollup" *ngIf="showToTopButton">
        <i class="fa fa-angle-up active"></i>
    </a>
</div>
  