<app-modal
    #addPageModalContent
    modalTitle="{{ 'common.create-x' | i18n : { x: 'common.page' | i18n | lowercase } }}"
    [renderModal]="renderModal"
    (submitChanged)="addPage($event)"
    (closeChanged)="closeModal($event)"
>
    <form [formGroup]="formPageAdd">
        <div class="formline">
            <label for="pageType">{{ 'common.page-type' | i18n }}</label>
            <select id="pageType" formControlName="pagetype" (change)="onPageTypeChange($event.target)">
                <option disabled selected value="undefined">{{ 'common.choose-x' | i18n : { x: 'common.page-type' | i18n | lowercase } }}</option>
                <option 
                    *ngFor="let pt of pageTypes;" 
                    value="{{pt.id}}"
                >{{pt.name}}</option>
            </select>
        </div>
        <div class="formline">
            <label for="pageTitle">{{ 'common.title' | i18n }}</label>
            <input id="pageTitle" type="text" formControlName="title" value="title.value" placeholder="{{ 'input.fill-out-x' | i18n : { x: 'common.title' | i18n | lowercase } }}" />
        </div>
        <div class="formline">
            <label for="pageLink">{{ 'common.link' | i18n }}</label>
            <input id="pageLink" type="text" formControlName="link" placeholder="{{ 'input.fill-out-x' | i18n : { x: 'common.link' | i18n | lowercase } }}" />
        </div>
        <div class="formline">
            <label for="pageContent">{{ 'common.content' | i18n }}</label>
            <ckeditor 
                *ngIf="!isImageGallery"
                id="pageContent" 
                [editor]="classicEditor" 
                formControlName="content"
                (ready)="onReady($event)"
            ></ckeditor>
            <app-image-gallery 
                *ngIf="isImageGallery"
                [formGroup]="formPageAdd"
                [isBackend]="true"
            ></app-image-gallery>
        </div>
        <div class="formline">
            <label for="sort">{{ 'common.sort' | i18n }}</label>
            <input 
                id="sort" 
                type="number" 
                min="1" 
                max="10000"
                formControlName="sort" 
                placeholder="{{ 'input.fill-out-x' | i18n : { x: 'common.sort' | i18n | lowercase } }}" />
        </div>
    </form>
</app-modal>

