<app-modal
    #addSettingKeyModalContent
    modalTitle="{{ 'common.create-x' | i18n : { x: 'common.setting-key' | i18n | lowercase } }}"
    [renderModal]="renderModal"
    (submitChanged)="addSettingKey($event)"
    (closeChanged)="closeModal($event)"
>
    <form [formGroup]="formSettingKeyAdd">
        <div class="formline">
            <label for="settingTypeId">{{ 'common.type' | i18n }}</label>
            <select id="settingTypeId" formControlName="settingTypeId">
                <option value="-1" disabled selected>{{ 'common.choose-x' | i18n : { x: 'common.type' | i18n | lowercase } }}</option>
                <option 
                    *ngFor="let st of settingTypes" 
                    value="{{st.id}}"
                >{{st.name}}</option>
            </select>
        </div>
        <div class="formline">
            <label for="settingValue">{{ 'common.value' | i18n }}</label>
            <input id="settingValue" type="text" formControlName="key" placeholder="{{ 'validation.fill-out-x' | i18n : { x: 'common.key' | i18n | lowercase } }}" />
        </div>
        <div class="formline">
            <label for="settingIsDefault">{{ 'common.is-default' | i18n }}</label>
            <input id="settingIsDefault" type="checkbox" formControlName="isDefault" placeholder="{{ 'validation.fill-out-x' | i18n : { x: 'common.setting-is-default' | i18n | lowercase } }}" />
        </div>
        <div class="formline">
            <label for="settingDefaultValue">{{ 'common.default-value' | i18n }}</label>
            <input id="settingDefaultValue" type="text" formControlName="defaultValue" placeholder="{{ 'validation.fill-out-x' | i18n : { x: 'common.default-value' | i18n | lowercase } }}" />
        </div>
    </form>
</app-modal>