<p class="aligncenter" [innerHTML]="content"></p>
<div class="contactform">
    <form (ngSubmit)="onSubmit()" [ngFormOptions]="{updateOn:'submit'}">
        <div>
          <label for="name">{{ 'common.name' | i18n }}:</label><br />
          <input type="text" name="name" ngModel />
        </div>
        <div>
          <label for="name">{{ 'common.email' | i18n }}:</label><br />
          <input type="text" name="email" ngModel />
        </div>
        <div>
          <label for="name">{{ 'common.phone' | i18n }}:</label><br />
          <input type="text" name="phone" ngModel />
        </div>
        <div>
          <label for="name">{{ 'common.message' | i18n }}:</label><br />
          <textarea name="message" ngModel></textarea>
        </div>
        <button type="submit">{{ 'common.send' | i18n }}</button>
        <button type="reset">{{ 'common.cancel' | i18n }}</button>
    </form>
</div>
<div class="message_status">{{messageStatus}}</div>