<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <httpProtocol>
    <customHeaders>
      <add name="Content-Security-Policy" value="
        default-src 'none';
        script-src https://*.fontawesome.com http://*.instantcms.dk 'sha256-IR6/Rt0PStKrIGm63R2wWqP6ctREJiK9ANiN6NclXy8=';
        script-src-elm 'self';
        style-src http://*.instantcms.dk 'sha256-Zi+W5fme6iRsznF9G2j2RbJXKQd+HjuL9mQJVekinxo=' 'sha256-QnJaxMgq80hnZepkcGi+6020F59qAWheP9qChmWVKwo=' 'sha256-MS0CQ1p6k/Su1rXNYtEYQpoZR7flCjtQIiMXp7KRnEE=' 'sha256-VZNB2N84mFASjvY0JdoDvf+/redjVclr+J8gXEe/kTA=' 'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=' 'sha256-6LVKphRTukuK7GzxE2lzc4hDhJEfVcw1i72CEvlvKYw=';
        style-src-elm 'self';
        img-src *;
        font-src *;
        object-src 'none';
        connect-src 'self' https://*.fontawesome.com;
        frame-src 'none';
        worker-src 'none';
        frame-ancestors 'none';
        block-all-mixed-content;
        base-uri 'self';
      " />
    </customHeaders>
  </httpProtocol>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>

</configuration>