:host {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  align-items: center;
  color: var(--color-light);
  transition: var(--transition-padding);

  &:not(.navbar-fixed) .navbartop-btn .mat-button-ripple {
    top: -22px;
    bottom: -22px;
  }

  & > .container {
    display: flex;
    flex: 1 1 100%;
    align-items: center;

    .navbar-mobile-top {
      .navbar-logo {
        padding-left: 15px;
        padding-right: 15px;

        & a {
          justify-content: center;
        }
      }
    }

    .navbar-toggle {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 10px;
        width: 48px;
        height: 48px;
        background-color: var(--color-light);
        color: var(--color-dark);
        min-width: none;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
      
        a {
          display: inherit;
        }
      }

    .top-navbar {
      display: flex;
      flex-wrap: nowrap;

      .navbartop-btn {
        display: flex;
        flex-direction: column;
        color: var(--color-light);
        text-decoration: none;
        padding: 20px;
        justify-content: center;
        align-content: space-around;

        &:hover {
          background-color: var(--color-light);
          color: var(--color-dark);
        }
      }
    }
  }
}

.navbartop-btn:hover .mat-button-focus-overlay {
  display: none;
}

.navbar-fixed .navbartop-btn {
  line-height: 60px !important;
}

@media (max-width: 991px) {
  .navbar {
    padding: 2px 0;
    transition: var(--transition-padding);

    .container {
        .navbar-toggle {
            display: block !important;
        }
    }

    &.navbar-fixed {
        position: fixed !important;
        left: 0;
        right: 0;
        top: 0;
        padding: 0 !important;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
        animation: 0.6s slideDown forwards;
        
        .container {
            height: 60px !important;
            padding: 0;

            .navbar-logo {
                margin-left: 15px;
            }
        }
    }
  }

  .navbar-opened:host .navbar-mobile-top {
    padding: 13px 0;
  }

  .navbar-opened:host .container {
    height: auto !important;
    padding: 0px !important;
  }

  .top-navbar {
    display: none !important;
  }

  .navbar-opened:host {
    .top-navbar {
      display: block !important;
      width: 100% !important;
      height: auto;
      flex: none !important;
      color: #000;
      background: #f3f3f3;
    }
  }

  .navbar-opened:host .top-navbar a {
    display: block;
    width: 100%;
    line-height: 40px !important;
  }
}
