<header class="navbar" [ngClass]="{'navbar-fixed': isFixedNavbar}">
   <div 
      class="container"
      [ngClass]="{ 'admin-navbar': isLoggedIn }"
   >
      <div class="navbar-mobile-top">
         <div class="navbar-logo">
            <a routerLink="/">
               <img title="{{ brandName }}" src="{{ logoUrl }}" />
            </a>
         </div>
         <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
            <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
         </button>
      </div>
      <div class="top-navbar">
         <ng-container *ngFor="let page of pages">
            <a *ngIf="page.link !== '/logout'" [routerLink]="[(isLoggedIn ? '/' : '/page/') + page.link]"
               (click)="navbarOpened = false" mat-button class="navbartop-btn">{{ page['title'] | i18n }}</a>
            <a *ngIf="page.link === '/logout'" (click)="onSignOut()" mat-button class="navbartop-btn">{{ page['title'] |
               i18n }}</a>
         </ng-container>
      </div>
   </div>
</header>