@if (dataRows.length > 0) {
<table class="table">
    <thead class="thead">
        @for (column of columns; track column; let i = $index) {
  <th 
           
            title="{{ column.name | i18n }}" 
            [attr.data-index]="i" 
            [attr.style.width]="column.columnWidth ? column.columnWidth : null"
        >
            <span>
                {{ column.name | i18n }}
            </span>
        </th>
}
        @if (showContextMenu) {
<th 
           
            class="contextmenu"
        ></th>
}
    </thead>
    <tbody class="tbody">
        @for (datarow of dataRows; track datarow) {
  <tr>
            @for (column of columns; track column; let i = $index) {
  <td 
                
                [attr.data-index]="i" 
                (click)="rowClick(datarow)"
            >
                <span>{{ datarow.dataColumns[i].value }}</span>
            </td>
}
            @if (showContextMenu) {
<td 
               
                class="contextmenu"
            >
                @if (allowDelete) {
<app-table-context-menu 
                   
                    [dataRow]="datarow"
                    (deleteRowChange)="deleteRow($event)"
                ></app-table-context-menu>
}
            </td>
}
        </tr>
}
    </tbody>
</table>
}
@if (dataRows.length == 0) {
<app-empty-state
   
    emptyStateKey="warning.no-results"
></app-empty-state>
}
