<div class="imagegallery-container">
    <div>{{ 'imagegallery.choose' | i18n }}:</div>
    <select (change)="onImageGalleryChange($event.target)">
        <option *ngIf="imageGalleries.length === 0">
            {{ 'imagegallery.no-imagegalleries-found' | i18n }}
        </option>
        <option value="-1">{{ 'common.choose-x' | i18n : { x: 'imagegallery' | i18n | lowercase } }}</option>
        <option *ngFor="let gallery of imageGalleries" value="{{gallery.id}}">
            {{gallery.name}}
        </option>
    </select>
    <button
        class="add-spacer"
        (click)="showCreateGalleryModal($event)"
        [disabled]="bShowCreateGalleryModal"
    >{{ 'imagegallery.create-{x}' | i18n : { x: 'imagegallery' | i18n | lowercase } }}</button>
</div>
<ng-template #imagegallery *ngIf="imageGalleryFiles else loading">
    Billede galleri
</ng-template>
<ng-template #loading>
    {{ 'common.loading' | i18n }}
</ng-template>



<app-modal
    modalTitle="{{ 'common.create-x' | i18n : { x: 'imagegallery' | i18n | lowercase } }}"
    modalId="gallery-modal"
    [renderModal]="bShowCreateGalleryModal"
    [isRootModalWithoutNestedModal]="isRootModalWithoutNestedModal"
    (submitChanged)="addImageGallery($event)"
    (closeChanged)="closeCreateGalleryModal()"
>
    <form [formGroup]="formImageGalleryAdd">
        <div class="formline">
            <label for="name">{{ 'common.name' | i18n }}</label>
            <input id="name" type="text" formControlName="name" placeholder="{{ 'validation.fill-out-x' | i18n : { x: 'common.name' | i18n | lowercase } }}" />
        </div>
        <div class="formline">
            <label for="igDescription">{{ 'common.content' | i18n }}</label>
            <ckeditor 
                id="igDescription" 
                [editor]="classicEditor" 
                formControlName="description"
                (ready)="onReady($event)"
            ></ckeditor>
        </div>
        <div class="formline">
            <label for="igImageGalleryType">{{ 'common.type' | i18n }}</label>
            <select id="igImageGalleryType" formControlName="imageGalleryTypeId">
                <option *ngIf="imageGalleryTypes.length === 0">
                    {{ 'imagegallery.no-imagegalleries-found' | i18n }}
                </option>
                <option value="-1" disabled selected>{{ 'common.choose-x' | i18n : { x: 'imagegallery' | i18n | lowercase } }}</option>
                <option *ngFor="let imageGalleryType of imageGalleryTypes" value="{{imageGalleryType.id}}">
                    {{imageGalleryType.name}}
                </option>
            </select>
            <button
                class="add-spacer"
                (click)="showCreateTypeModal($event)"
                [disabled]="bShowCreateTypeModal"
            >{{ 'imagegallery.create-{x}' | i18n : { x: 'imagetype' | i18n | lowercase } }}</button>
        </div>
        <div class="formline">
            <label for="igImageGalleryTemplate">{{ 'common.template' | i18n }}</label>
            <input id="igImageGalleryTemplate" type="text" formControlName="imageTemplateId" [disableControl]="true" />
        </div>
    </form>
    <app-modal
        *ngIf="bShowCreateTypeModal"
        modalTitle="{{ 'common.create-x' | i18n : { x: 'imagetype' | i18n | lowercase } }}"
        modalId="type-modal"
        [renderModal]="bShowCreateTypeModal"
        [isNestedModal]="true"
        (submitChanged)="insertImageType($event)"
        (closeChanged)="closeCreateTypeModal($event)"
    >
        <app-content-wrapper>
            <form [formGroup]="formGalleryTypeAdd">
                <div class="formline">
                    <label for="name">{{ 'common.name' | i18n }}</label>
                    <input id="name" type="text" formControlName="name" placeholder="{{ 'validation.fill-out-x' | i18n : { x: 'common.name' | i18n | lowercase } }}" />
                    <div class="warning" *ngIf="formGalleryTypeAdd.get('name')?.invalid 
                        && (
                            formGalleryTypeAdd.get('name')?.dirty 
                            || formGalleryTypeAdd.get('name')?.touched
                        )"
                    >
                        {{ 'validation.fill-out-x' | i18n : { x: 'common.name' | i18n | lowercase } }}
                    </div>
                </div>
            </form>
        </app-content-wrapper>
    </app-modal>
</app-modal>